.home-page{
  background-color: aquamarine;
  height: 100vh;
}

.inner-section{
  background-color: aliceblue;
  height: 80vh;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.right-preview{
  background-image: url('./assets/images/bg-2.jpg');
  height: 80vh;
  background-size: cover;
  opacity: 0.7;
}
